clients {
  text-align: center;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: $font-weight-700;
  font-size: $font-size-36;
  line-height: $line-height-151;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

/* ul */
.clients__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.clients__item {
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid $logo-color;
  border-radius: 4px;
  color: $logo-color;

  transition: color 250ms $transition-timing-function, border 250ms $transition-timing-function;
}

.clients__img {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: $accent-color;
  border: 1px solid $accent-color;
}
