body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: $font-family-primary;
}

/* сброс стилей */
h1,
h2,
h3,
p {
  margin: 0;
}

/*для скрытия маркеров и боковых отступов*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*для скрытия подчеркивания*/
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
/* Верхний и нижний отступ */
.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
