$font-family-primary: Roboto, sans-serif;
$font-family-secondary: Raleway, sans-serif;

$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-26: 26px;
$font-size-36: 36px;
$font-size-44: 44px;

$line-height-114: 1.14;
$line-height-115: 1.15;
$line-height-116: 1.16;
$line-height-117: 1.17;
$line-height-119: 1.19;
$line-height-136: 1.36;
$line-height-140: 1.4;
$line-height-151: 1.51;
$line-height-171: 1.71;
$line-height-188: 1.88;
