$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-hover: #188ce8;
$white-color: #ffffff;
$section-color: #2f303a;
$logo-color: #afb1b8;
$button-bgc: #f5f4fa;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$black-color: #000000;
